<h2><%= @user.email %>'s Hosted Events</h2>
<div><% unless @hosted_events.empty? %>
  <% @hosted_events.each do |event| %>
        <li>
        <h3><%= link_to event.name, event %></h3>
        <p>Date: <%= event.date %></p>
        <p>Location: <%= event.location %></p>
        <p>Description: <%= event.description %></p>
        </li>
  <% end %>
<% else %>
  <p>No hosted events yet...</p>
<% end %>
</div>
<div>
<p><%= link_to "Back to Users", users_path %></p>
<p><%= link_to "Back to Events", events_path %></p>
</div>