<div>
<% if user_signed_in? %>
  <p><%= link_to 'Sign Out', destroy_user_session_path %></p>
<% else %>
  <p><%= link_to 'Sign Up', new_user_registration_path %></p>
  <p><%= link_to 'Sign In', new_user_session_path %></p>
<% end %>
</div>
<h1>All Events</h1>

<% if @events %>
<ul>
    <% @events.each do |event| %>
        <li>
        <h3><%= link_to event.name, event %></h3>
        <p>Date: <%= event.date %></p>
        <p>Location: <%= event.location %></p>
        <p>Description: <%= event.description %></p>
        </li>
    <% end %>
</ul>
<% else %>
<p>No events yet...</p>
<% end %>

<p><%= link_to "All Users", users_path %></p>