 <h1>New</h1>
 <div data-turbo="false">
 <%= form_with model: @event do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <%= form.label :date %>
      <%= form.date_field :date %>
      <%= form.label :description %>
      <%= form.text_area :description %>
      <%= form.label :location %>
      <%= form.text_field :location %>
      <%= form.submit %>
<% end %>
</div>