<div>
  <h1><%= @event.name %></h1>
  <p>Date: <%= @event.date %></p>
  <p>Location: <%= @event.location %></p>
  <p>Description: <%= @event.description %></p>
</div>

<% if user_signed_in? && current_user.id == @event.creator_id %>
  <div>
    <ul>
    <li><%= link_to "Edit Event", edit_event_path(@event) %></li>
    <li><%= link_to "Delete event", event_path(@event), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
    </ul>
    <p>Invite Attendees:</p>
  </div>
<% end %>

<div>
<h2>Attendees:</h2>
<% if @event.attendees %>
  <% @event.attendees.each do |attendee| %>
    <ul>
    <li><%= attendee.email %></li>
    </ul>
  <% end %>
<% else %>
   <p>No attendees yet...</p>
<% end %>
</div>

<% if user_signed_in? %>
  <div>
    <p><%= button_to 'Attend Event', event_attendings_path, params: { attended_event_id: @event.id } %></p>
    <% if current_user.attended_events.include?(@event) %>
      <p><%= link_to 'Leave Event', event_attending_path(@event), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" } %></p>
    <% end %>
  </div>
<% else %>
  <p>You must be <%= link_to 'signed in', new_user_session_path %> to edit/attend events.</p>
<% end %>