<div>
  <h1><%= @event.name %></h1>
  <p><%= @event.date %></p>
  <p><%= @event.location %></p>
  <p><%= @event.description %></p>
</div>

<div>
<h2>Attendees:</h2>
<% if @event.attendees %>
  <% @event.attendees.each do |attendee| %>
    <ul>
    <li><%= attendee.email %></li>
    </ul>
  <% end %>
<% else %>
   <p>No attendees yet...</p>
<% end %>
</div>

<% if user_signed_in? %>
<div>
<p><%= button_to 'Attend Event', event_attendings_path, params: { attended_event_id: @event.id } %></p>
</div>
<% else %>
  <p>You must be <%= link_to 'signed in', new_user_session_path %> to attend events.</p>
<% end %>